@charset "utf-8";

#snb_nav {width:100%;height:50px;box-sizing:border-box;border-bottom:1px solid #dfdfdf;border-top:1px solid #dfdfdf;}
#snb_nav .snb_area {position:relative;width:100%;max-width:1240px;height:50px;margin:0 auto;border-left:1px solid #dfdfdf}
#snb_nav .snb_area .btn_home {display:block;float:left;overflow:hidden;width:59px;height:50px;margin:0;background: #000 url(../img/layout/icon_home.svg) no-repeat 50% 50%;background-size: 13px 12px;text-indent:-100px;border-right:1px solid #dfdfdf}
#snb_nav .snb_area>button {position:relative;float:left;height:50px;width:247px;box-sizing:border-box;padding:0 40px 0 20px;background:url(../img/layout/icon_snb_arrowD.svg) no-repeat right 20px top 50%;background-size: 9px 6px;color:#666;font-size:15px;;line-height:44px;text-align:left;border-right:1px solid #dfdfdf;font-weight:500;}

#snb_nav .snb_area>button.active {background:#0065b3 url(../img/layout/icon_snb_arrow_sticky.svg) no-repeat right 20px top 50%;background-size: 9px 6px;color:#fff}

#snb_nav .snb_area>button.on {background:url(../img/layout/icon_snb_arrowD.svg) no-repeat right 20px top 50%;color:#0065b3;background-size: 9px 6px;}
#snb_nav .snb_area>button.on.active {background:#0065b3 url(../img/layout/icon_snb_arrow_sticky.svg) no-repeat right 20px top 50%;background-size: 9px 6px;color:#fff}
#snb_nav .snb_area>button.on.active::before {display:none;}
#snb_nav .snb_area .btn_snbView {display:none;}

#snb_nav #snb {/* display:none; */position:absolute;left:0px;top:50px;width:247px;box-sizing:border-box;padding:16px 15px;border:1px solid #dadee1;border-top:1px solid #fff;background:#fff;z-index:900;}
#snb_nav #snb li+li {margin-top:10px;}
#snb_nav #snb li a {color:#666;font-size:14px;line-height:16px;letter-spacing:-1px;display:block;}
#snb_nav #snb li a:hover,
#snb_nav #snb li a:active {color:#0065b3;}
#snb_nav #snb>li>ul {margin-bottom:10px;}
#snb_nav #snb>li>ul ul {margin-bottom:0;}
#snb_nav.active2 #snb>li+li {margin-top:0;}
#snb_nav.active3 #snb>li+li,
#snb_nav.active3 #snb .menuM>li+li {margin-top:0;}

#snb_nav.active1 #snb>li>ul {display:none;}
#snb_nav.active2 #snb {padding:16px 15px 0;}
#snb_nav.active2 #snb>li>a,
#snb_nav.active2 #snb>li>ul {display:none;}
#snb_nav.active2 #snb>li.on>ul {display:block;}
#snb_nav.active2 #snb>li.on>ul ul {display:none;}
#snb_nav.active3 #snb {padding:16px 15px 0;}
#snb_nav.active3 #snb>li,
#snb_nav.active3 #snb>li>a,
#snb_nav.active3 #snb>li>ul>li,
#snb_nav.active3 #snb>li>ul>li>a {display:none;}
#snb_nav.active3 #snb>li.on,
#snb_nav.active3 #snb li.on {display:block;}


.menuS {display: none;}


